html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* we are not using label so we disable the view */
/*light*/
label.css-15tx938.effi0qh3{
    display: none;
}
label.css-qrbaxs.effi0qh3{
    display: none;
}

/*Dark*/
label.css-1yjuwjr.effi0qh3{
    display: none;
}

label.css-16huue1.effi0qh3{
    display: none;
}
